__pycache__
backups
point logs
wip files
Habitat
Habitat2
token.txt
credentials-sheets.json
guild_preferences.pickle
user_preferences.pickle
requirements.txt
SaurBot.pyproj
SaurBot.pyproj.user
sprites.txt
showdown_scraper.py
pokemon_hashes.txt
temporary.png
cookie_types.py
story_profiles.json
calc_species_reader.py
comparison_results_chronological.txt
comparison_results_discrepencies.txt
comparison_results_pokemon.txt