__pycache__
backups
point logs
wip files
Habitat
token.txt
credentials-sheets.json
guild_preferences.pickle
user_preferences.pickle
requirements.txt
SaurBot.pyproj
SaurBot.pyproj.user
sprites.txt
showdown_scraper.py
pokemon_hashes.txt
temporary.png
cookie_types.py